{% extends 'base.html' %}
{% block content %}
{% load material_form %}
<main id="detailmain">
<br>
<h1 id="detailh1">{{ object.name }} Detail</h1>
<div class="right card-action">
  <a href="{% url 'pet_update' pet.id %}" class="btn-small z-depth-4" id="editbtn" >Edit Pet</a>
  <a href="{% url 'pet_delete' pet.id %}" class="btn-small z-depth-4" id="delbtn" >Delete Pet</a>
</div>
<ul class="list-group">
    <li class="list-group-item">Species: {{ object.species }}</li>
    <li class="list-group-item">Breed: {{ object.breed }}</li>
    <li class="list-group-item">Birthday: {{ object.birth_date }}</li>
</ul>
<h2>{{ object.name }} Vets</h2>
<table class="striped" id="clean">
    <thead>
      <tr><th>Name</th><th>Office:</th><th>Specialty</th><th></th></tr>
    </thead>
    <tbody>
        {% for vet in object.vet_doctors.all %}
        <tr>
            <td>{{vet.name}}</td>
            <td>{{vet.location}}</td>
            <td>{{vet.specialty}}</td>
            <td><form action="{% url 'unassoc_vet' pet.id vet.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn-small" id="removebtn" >Remove</button>
              </form></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
<h3>Available Vets to add for {{ object.name }}</h3>
<table class="striped" id="clean">
    <thead>
      <tr><th>Name</th><th>Office:</th><th>Specialty</th><th></th></tr>
    </thead>
    <tbody>
        {% for vet in availvets %}
        <tr>
            <td>{{vet.name}}</td>
            <td>{{vet.location}}</td>
            <td>{{vet.specialty}}</td>
            <td><form action="{% url 'assoc_vet' pet.id vet.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn-small" id="addbtn" >Add</button>
              </form></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
<br>
<h3>Vaccine:</h3>
<table class="striped" id="clean">
  <thead>
    <tr><th>Date:</th><th>Vaccine:</th><th>Administered By:</th></tr>
  </thead>
  <tbody>
    {% for vaccine in object.vaccination_set.all %}
      <tr>
        <td>{{vaccine.date}}</td>
        <td>{{vaccine.name}}</td>
        <td>{{vaccine.admin_by}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'pet_vaccinationdetail' pet.id %}" class="btn-small" id="addbtn"> Add Vaccination</a>
<br>
<h3>Grooming:</h3>
<table class="striped responsive-table centered">
  <thead>
    <tr><th>Date</th><th>Location</th><th>Duration (MM)</th><th>Nail Trim</th><th>Hair Trim</th><th>Teeth Brush</th><th>Bath</th><th>Shampoo</th><th>Conditioner</th><th></th></tr>
  </thead>
  <tbody>
    {% for grooming in pet.grooming_set.all %}
      <tr>
        <td>{{grooming.date}}</td>
        <td>{{grooming.location}}</td>
        <td>{{grooming.duration}}</td>
        <td>{{grooming.nail_trim}}</td>
        <td>{{grooming.hair_trim}}</td>
        <td>{{grooming.teeth_brush}}</td>
        <td>{{grooming.bath}}</td>
        <td>{{grooming.shampoo}}</td>
        <td>{{grooming.conditioner}}</td>
        <td><a href="{% url 'grooming_delete_view' pet.id grooming.id %}" class="btn-small" id="delbtn"> Delete</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<form action="{% url 'add_grooming' object.id %}" method="POST">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <input type="submit" class="btn-small" id="addbtn" value="Add Grooming"> 
</form>
</main>
<script>
    const dateEl = document.getElementById('id_date');
      M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
      });
    </script>
{% endblock %}