{% extends 'base.html' %}
{% block content %}
{% load material_form %}
<main id="detailmain">
<br>
  <h1 id="detailh1">{{ object.name }} Detail</h1>
<ul class="list-group">
    <li class="list-group-item">Species: {{ object.species }}</li>
    <li class="list-group-item">Breed: {{ object.breed }}</li>
    <li class="list-group-item">Birthday: {{ object.birth_date }}</li>
</ul>
<h2>{{ object.name }} Vets</h2>
<table class="striped" id="clean">
    <thead>
      <tr><th>Name</th><th>Office:</th><th>Specialty</th><th></th></tr>
    </thead>
    <tbody>
        {% for vet in object.vet_doctors.all %}
        <tr>
            <td>{{vet.name}}</td>
            <td>{{vet.location}}</td>
            <td>{{vet.specialty}}</td>
            <td><form action="{% url 'unassoc_vet' pet.id vet.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Remove</button>
              </form></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
<h3>Available Vets to add for {{ object.name }}</h3>
<table class="striped" id="clean">
    <thead>
      <tr><th>Name</th><th>Office:</th><th>Specialty</th><th></th></tr>
    </thead>
    <tbody>
        {% for vet in availvets %}
        <tr>
            <td>{{vet.name}}</td>
            <td>{{vet.location}}</td>
            <td>{{vet.specialty}}</td>
            <td><form action="{% url 'assoc_vet' pet.id vet.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Add</button>
              </form></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
<br>
<h3>Vaccine:</h3>
<table class="striped" id="clean">
  <thead>
    <tr><th>Date:</th><th>Vaccine:</th><th>Administered By:</th></tr>
  </thead>
  <tbody>
    {% for vaccine in object.vaccination_set.all %}
      <tr>
        <td>{{vaccine.date}}</td>
        <td>{{vaccine.name}}</td>
        <td>{{vaccine.admin_by}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<a href="{% url 'pet_vaccinationdetail' pet.id %}"> Add Vaccination</a>
<br>
<h3>Grooming:</h3>
<table class="striped">
  <thead>
    <tr><th>Date</th><th>Location</th></tr>
  </thead>
  <tbody>
    {% for grooming in pet.grooming_set.all %}
      <tr>
        <td>{{grooming.date}}</td>
        <td>{{grooming.location}}</td>
        <td><a href="{% url 'grooming_delete' grooming.id %}"> Delete Grooming</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<form action="{% url 'add_grooming' object.id %}" method="POST">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    <input type="submit" class="btn btn-success" value="Add Grooming"> 
</form>
<div>
</div>
<div class="card-action">
  <a href="{% url 'pet_update' pet.id %}"> Edit</a>
  <a href="{% url 'pet_delete' pet.id %}"> Delete</a>
</div>
</main>
<script>
    // const selectEl = document.getElementById('id_nail_trim');
    //   M.FormSelect.init(selectEl);
    const dateEl = document.getElementById('id_date');
      M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
      });
    </script>
{% endblock %}