{% extends 'base.html' %}
{% block content %}
<main id="detailmain">
<br>
  <h1 id="detailh1">{{ object.name }} Detail</h1>

<ul class="list-group">
    <li class="list-group-item">Species: {{ object.species }}</li>
    <li class="list-group-item">Breed: {{ object.breed }}</li>
    <li class="list-group-item">Birthday: {{ object.birth_date }}</li>
</ul>
<table class="striped" id="clean">
  <thead>
    <tr><th>Date:</th><th>Vaccine:</th><th>Administered By:</th></tr>
  </thead>
  <tbody>
    {% for vaccine in object.vaccinations_set.all %}
      <tr>
        <td>{{vaccine.date}}</td>
        <td>{{vaccine.name}}</td>
        <td>{{vaccine.admin_by}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<div class="card-action">
  <a href="{% url 'pet_update' pet.id %}"> Edit</a>
  <a href="{% url 'pet_delete' pet.id %}"> Delete</a>
  <a href="{% url 'pet_vaccinationdetail' pet.id %}"> Add Vaccination</a>
</div>

</main>
{% endblock %}