{% extends 'base.html' %}
{% block content %}
<main id="visitlistmain">
<br>
<h1 id="visitindexh1">Your Visits</h1>
    
<form action="{% url 'visit_create' %}">
    <button class="btn-large z-depth-4" id="Addbtn" type="submit">Add a Visit</button>
</form>
<br>
{% if object_list %}
{% for obj in object_list %}
<div class="card">
    <div class="card-body">
    <h3>{{ obj.name }}</h3>
    <p class="card-text">Date: {{ obj.date }} <br> Pet: {{ obj.pet }} <br>Vet: {{ obj.vet }} </p>
    <a href="{{ obj.get_absolute_url }}" class="btn-small" id="Detailbtn">{{ obj.name }} Details</a>
    </div>
</div>
<br>
{% endfor %}
{% else %}
<p>There are no Visits.</p>
{% endif %}    
</main>
{% endblock %}