{% extends 'base.html' %}
{% block content %}
<main id="createupdatevisitpg">
{% if object %}
<br>
<h1>Edit {{object.name}}</h1>

{% else %}
<h1>Add A Visit</h1>
{% endif %}
<br>
<form action="" method="POST">
   {% csrf_token %}
       <table id="edittable">
           {{ form.as_table }}
          <tr>
            <th><label for="id_pet">Pet:</label></th>
            <td>     
              <select name="pet" required id="id_pet">           
              <option value="" selected>---------</option>
              {% for pet in mypets%}                
                <option value="{{ pet.id }}">{{pet.name}}</option>
              {% endfor%}    
              </select>
            </td>
          </tr>
       </table>
       <button type="submit" value="Submit!" class="btn waves-effect waves-light" id="submit">Submit <i class="material-icons right">send</i></button>
   </form>
</main>
<script>
    const selectEl = document.getElementById('id_pet');
      M.FormSelect.init(selectEl);
    const selectEl2 = document.getElementById('id_vet');
      M.FormSelect.init(selectEl2);
      const dateEl = document.getElementById('id_date');
      M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
      });
    </script>
   {% endblock %}