{% extends 'base.html' %}
{% block content %}
<main id="visitdetailmain">
<br>
<h1 id="visitdetailh1">{{ object.name }} Detail</h1>

<div class="right card-action">
 <a href="{% url 'visit_update' visit.id %}" class="btn-small z-depth-4" id="editbtn">Edit Visit</a>
 <a href="{% url 'visit_delete' visit.id %}" class="btn-small z-depth-4" id="delbtn">Delete Visit</a>
</div>
<ul class="list-group">
    <li class="list-group-item">Date: {{ object.date }}</li>
    <li class="list-group-item">Pet: {{ object.pet }}</li>
    <li class="list-group-item">Vet: {{ object.vet }}</li>
    <li class="list-group-item">Vaccines: 
        <ul>
        {% for vax in vaccines %}
          <li>- {{ vax.name }}</li>
        {% endfor %}
        </ul>
    </li>
    <li class="list-group-item">Notes: {{ object.notes }}</li>       
</ul>
</main>
{% endblock %}