{% extends 'base.html' %}
{% block content %}
<main id="vaccineDetail">
<h1>Add A Vaccination</h1>


<br>
<form action="{% url 'pet_addvaccination' pet.id %}" method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ vaccination_form.as_p }}
    <button type="submit" value="Submit!" class="btn waves-effect waves-light" id="submit">Submit <i class="material-icons right">send</i></button>
</form>

</main>
<script>
const selectEl = document.getElementById('id_admin_by');
  M.FormSelect.init(selectEl);
const selectEl2 = document.getElementById('id_visit');
  M.FormSelect.init(selectEl2);
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: false,
    autoClose: true
  });
</script>
   {% endblock %}