{% extends 'base.html' %}
{% block content %}
<main id="vaccineDetail">
<h1>Add A Vaccination</h1>


<br>
<form action="{% url 'pet_addvaccination' pet.id %}" method="POST">
    {% csrf_token %}
    <!-- Render the inputs -->
    {{ vaccination_form.as_p }}
    <input type="submit" class="btn" value="Add Vaccination">
</form>

</main>
<script>
const selectEl = document.getElementById('id_admin_by');
  M.FormSelect.init(selectEl);
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
   {% endblock %}