{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Docupets</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Righteous&family=Ysabeau&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
      <nav id="main-menu" class="navBar">
        <ul >
          <div id="mainLogoDiv">
          {% if user.is_authenticated %}
            <li class="titleLogo"><a href="{% url 'home' %}" class="left brand-logo" >&nbsp;&nbsp;Docupets</a></li>
            <div>
            <li id="username"><p>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for  {{ user.username }}</p></li>
            </div>
            {% else %}
            <li class="titleLogo"><a href="{% url 'home' %}" class="left brand-logo" >&nbsp;&nbsp;Docupets</a></li>
          {% endif %}
        
        </ul>
        <ul class="right">
          {% if user.is_authenticated %}
            <li class="navLink"><a  href="{% url 'pet_index' %}">Your Pets</a></li>
            <li class="navLink"><a  href="{% url 'visit_index' %}">Your Visits</a></li>
            <li class="navLink"><a  href="{% url 'vet_index' %}">Vets</a></li>
            <li class="navLink"><a  href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
        </ul>
      </div>
      </nav>
      <input type="checkbox" id="hamburger-input" class="burger-shower" />
      <label id="hamburger-menu" for="hamburger-input">
        <nav id="sidebar-menu">
          <div class="nav-wrapper">
            <ul>
              {% if user.is_authenticated %}
                <li><a href="{% url 'home' %}" class="titleLogo" id="MainLogo">Docupets</a></li>
                <li id="username">for  {{ user.username }}</li>
              {% else %}
                <li><a href="{% url 'home' %}" class="titleLogo" id="MainLogo">Docupets</a></li>
              {% endif %}
              {% if user.is_authenticated %}
                <li><a href="{% url 'pet_index' %}">Your Pets</a></li>
                <li><a href="{% url 'visit_index' %}">Your Visits</a></li>
                <li><a href="{% url 'vet_index' %}">Vets</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
              {% else %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Log In</a></li>
              {% endif %}
            </ul>
        </div>
        </nav>
      </label>
  
      <div class="overlay"></div>    
    </header>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    {% block content %}
    {% endblock %}
    <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2023 Docupets &nbsp;</div>
    </footer>
    </body>
    </html>