{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Docupets</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul class = "left">
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;Docupets</a></li>
                    <li><p>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for  {{ user.username }}</p></li>
                  {% else %}
                    <li><a href="{% url 'home' %}" class="left brand-logo">&nbsp;&nbsp;Docupets</a></li>
                  {% endif %}
                </ul>
                <ul class="right">
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'pet_index' %}">Your Pets</a></li>
                    <li><a href="{% url 'vet_index' %}">Vets</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                  {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                  {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    {% block content %}
    {% endblock %}
    <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2023 Docupets &nbsp;</div>
    </footer>
    </body>
    </html>