{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Docupets</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Righteous&family=Ysabeau&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul class = "left">
                  {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}" class="left brand-logo" id="MainLogo">&nbsp;&nbsp;Docupets</a></li>
                    <li id="username"><p>&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for  {{ user.username }}</p></li>
                  {% else %}
                    <li><a href="{% url 'home' %}" class="left brand-logo" id="MainLogo">&nbsp;&nbsp;Docupets</a></li>
                  {% endif %}
                </ul>
                <a href="#" data-target="mobile-demo" class="right sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                  
                    <li><a href="{% url 'pet_index' %}">Your Pets</a></li>
                    <li><a href="{% url 'visit_index' %}">Your Visits</a></li>
                    <li><a href="{% url 'vet_index' %}">Vets</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                  
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                  
                </ul>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
        
          <li><a href="{% url 'pet_index' %}">Your Pets</a></li>
          <li><a href="{% url 'visit_index' %}">Your Visits</a></li>
          <li><a href="{% url 'vet_index' %}">Vets</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
          <li><a href="{% url 'login' %}">Log In</a></li>
        
        </ul>
        <!-- <ul id="slide-out" class="sidenav">
          <li><div class="user-view">
            <div class="background">
              <img src="images/office.jpg">
            </div>
            <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
            <a href="#name"><span class="white-text name">John Doe</span></a>
            <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div></li>
          <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
          <li><a href="#!">Second Link</a></li>
          <li><div class="divider"></div></li>
          <li><a class="subheader">Subheader</a></li>
          <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    </header>
    {% include 'material/includes/material_css.html' %}
    {% include 'material/includes/material_js.html' %}
    {% block content %}
    {% endblock %}
    <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2023 Docupets &nbsp;</div>
    </footer>
    </body>
    <button id="hamburger-menu">
      <nav id="sidebar-menu">
        <h3>Menu</h3>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Store</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </button>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
      });
      // document.addEventListener('DOMContentLoaded', function() {
      // var elems = document.querySelectorAll('.sidenav');
      // var instances = M.Sidenav.init(elems, options);
      // });

      // $(document).ready(function(){
      //   $('.sidenav').sidenav();
      // });
    </script>
    </html>