@media (min-width: 280px) and (max-width:1000px) {
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 3vmin;
    font-family: 'Ysabeau', sans-serif;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}

#main-menu {
  height: 100px;
  width: 100%;
  background: #2d3142;
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  z-index: 9;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: none;
  border: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Ysabeau', sans-serif;
  background: linear-gradient(
    to bottom, 
    #2d3142, #2d3142 20%, 
    white 20%, white 40%, 
    #2d3142 40%, #2d3142 60%, 
    white 60%, white 80%, 
    #2d3142 80%, #2d3142 100%
  );
}

#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #2d3142;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}
#hamburger-input:checked ~ .overlay{
  visibility: visible;
  opacity: 0.4;
}

#hamburger-menu #MainLogo {
  font-size: 2.5rem;
  font-family: 'Darumadrop One', cursive;
}

#hamburger-menu #MainLogo:hover {
  text-decoration: none;
}

#main-menu {
  display: none;
  
}

#hamburger-menu {
  display: inline;
}


.nav-wrapper ul {
  background-color: #2D3142;
  display: flex;
  flex-direction: column;
}


#username {
  font-size: 1rem;
  align-self: center;
}


h1, h2, h3, h4, h5 {
  font-family: 'Righteous', cursive;
  color: #4f5D75;
}

#homemain {
  height: 50vh;
  background-image: url('https://www.shutterstock.com/image-vector/cat-dog-260nw-121357396.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#homemain h2 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#delete-pet-main, #delete-vet-main, #del-groom-main, #loginmain, #signupmain {
  height: 50vh;
}

#Addbtn {
  background-color: #EF8354;
}

#Detailbtn, #submit {
  background-color: #EF8354;
}

.card {
  padding: 1vmin;
  width: 50%;
}

#detailmain span, label {
  font-size: 2.5vmin;
}



#detailmain .right > a {
  margin: 2vmin;
}

#editbtn, #delbtn, #addbtn, #removebtn {
  font-size: 2.5vmin;
  background-color: #EF8354;
  border-radius: 1vmin;
}

#cancelbtn {
  font-size: 2.5vmin;
  background-color: #BFC0c0;
  border-radius: 1vmin;
}

#createupdatevisitpg label {
  font-size: 3.5vmin;
}

main {
    flex: 1 0 auto;
    padding: 2vmin;
}
  
footer.page-footer {
   background-color: #2D3142;
    padding-top: 0;
    text-align: right;
}
}





/* SEPARATION */





@media (min-width: 1001px) {
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 3.2vmin;
    font-family: 'Ysabeau', sans-serif;

  }

header nav {
  background-color: #2D3142;
}

.navBar {
  display: flex;
  flex-direction: row;
}

#hamburger-menu {
  visibility: hidden;
} 

#divleft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#divright {
  display: flex;
  margin-left: auto !important;
}
#hamburger-menu #sidebar-menu {
  visibility: hidden;
}

#left {
  display: flex;
  justify-content: flex-start;
}

#hamburger-menu {
  visibility: hidden;
} 

#hamburger-menu #sidebar-menu {
  visibility: hidden;
}

#left {
  display: flex;
  justify-content: flex-start;
}

/* #mainLogoDiv {
  align-self: flex-start;
} */

#MainLogo {
    font-family: 'Darumadrop One', cursive;
    font-size: 6vmin;
}

#username {
  margin-left: 25vmin;
  margin-top: -2vmin;
}

#right {
  display: flex;
  justify-content: flex-end;
}

#right a {
  font-size: 3vmin;
}

h1, h2, h3, h4, h5 {
  font-family: 'Righteous', cursive;
  color:#ef8354;
}

#homemain {
  height: 50vh;
  background-image: url('https://www.shutterstock.com/image-vector/cat-dog-260nw-121357396.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#homemain h2 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#delete-pet-main, #delete-vet-main, #del-groom-main, #loginmain, #signupmain {
  height: 50vh;
}

#Addbtn {
  background-color: #EF8354;
}

#Detailbtn, #submit {
  background-color: #EF8354;
}

.card {
  padding: 1vmin;
  width: 50%;
}

#detailmain span, label {
  font-size: 2.5vmin;
}

#detailmain .right > a {
  margin: 2vmin;
}

#editbtn, #delbtn, #addbtn, #removebtn {
  font-size: 2.5vmin;
  background-color: #EF8354;
  border-radius: 1vmin;
}

#cancelbtn {
  font-size: 2.5vmin;
  background-color: #BFC0c0;
  border-radius: 1vmin;
}

#createupdatevisitpg label {
  font-size: 3.5vmin;
}

main {
    flex: 1 0 auto;
    padding: 2vmin;
}
  
footer.page-footer {
   background-color: #2D3142;
    padding-top: 0;
    text-align: right;
}


#petindexh1, h1, h2, h3, h4 {
  color: #4f5D75;
}

}